<section>
    <h1>About Me</h1>
    <p>
        {% img right http://www.gravatar.com/avatar/f8ee60f3cb8ecc91f41ee093542e12f4?s=60 %}
        Jeremy is a PHP developer, a <a href="http://joind.in/user/view/851" target="_blank">public speaker</a>, 
        a sometime <a href="https://github.com/jeremykendall" target="_blank">open source contributor</a>, 
        and an <a href="http://www.flickr.com/photos/jeremykendall" target="_blank">amateur photographer</a>. 
        He currently works resides in Nashville, TN.
    </p>
</section>
