<section>
    <h1>About Me</h1>
    <p>
        {% img right http://www.gravatar.com/avatar/f8ee60f3cb8ecc91f41ee093542e12f4?s=60 %}
        Jeremy is a PHP developer, a <a href="http://joind.in/user/view/851" target="_blank">public speaker</a>, 
        a sometime <a href="https://github.com/jeremykendall" target="_blank">open source contributor</a>, 
        and an <a href="http://www.flickr.com/photos/jeremykendall" target="_blank">amateur photographer</a>. 
        He currently works for <a href="http://www.opensky.com/member/jeremykendall" target="_blank">OpenSky</a> 
        and resides in Nashville, TN.
    </p>
    <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/jeremy.kendall" target="_blank"><i class="icon-facebook-sign icon-4x"></i></a>
            <a href="https://twitter.com/jeremykendall" target="_blank"><i class="icon-twitter-sign icon-4x"></i></a>
            <a href="https://github.com/jeremykendall/" target="_blank"><i class="icon-github-sign icon-4x"></i></a>
        </li>
    </ul>
    <ul class="social-links">
        <li>
            <a href="http://www.flickr.com/photos/jeremykendall" target="_blank"><i class="icon-flickr icon-4x"></i></a>
            <a href="http://instagram.com/jeremy_kendall" target="_blank"><i class="icon-instagram icon-4x"></i></a>
            <a href="http://jeremykendall.tumblr.com" target="_blank"><i class="icon-tumblr-sign icon-4x"></i></a>
        </li>
    </ul>
</section>
